
@media only screen and (min-width: 768px) {
    .parent:hover .child {
        opacity: 1;
        height: auto;
        overflow: visible;
        transform: translateY(0);
    }
    .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
    }
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.0s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse-glow {
    0%, 100% {
        box-shadow: 0 0 8px var(--color-color1), 0 0 15px var(--color-color1);
        background-color: var(--color-color1);
    }
    50% {
        box-shadow: 0 0 20px var(--color-color4), 0 0 30px var(--color-color4);
        background-color: var(--color-color4);
    }
}

button {
    transition: transform 0.3s ease;
    animation: pulse-glow 2.5s ease-in-out infinite;
}

button:hover {
    transform: scale(1.15);
    animation-play-state: paused; /* Pausa la animación al hacer hover para que se enfoque el hover */
    box-shadow: 0 8px 15px rgba(36, 172, 199, 0.6);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-color1);
}